<mat-card>
    <form class="example-form" [formGroup]="applicationForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Company</mat-label>
          <input matInput formControlName="company">
        </mat-form-field>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Long Last Name That Will Be Truncated</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field></td>
        </tr></table>
      
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St" formControlName="address"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address 2</mat-label>
            <textarea matInput formControlName="address2"></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. San Francisco" formControlName="city">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput placeholder="Ex. California" formControlName="state">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input matInput maxlength="5" placeholder="Ex. 94105" formControlName="postalCode">
            <mat-hint align="end">{{applicationForm.get('postalCode')?.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </form>

      <br>
      <br>
      <div>
        {{ applicationForm.value | json }}
      </div>
</mat-card>