<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>Выбрано: Дрель (электротовары)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
<div class="content-container">
  <mat-button-toggle-group [vertical]="true"  (change)="productSelectionChanged($event)" class="products-list">
    <mat-button-toggle [value]="1">Товар 1</mat-button-toggle>
    <mat-button-toggle [value]="2">Товар 2</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="details">
    <div class="details-item"> 
      <strong> Наименование: </strong> 
      <span>
      </span>
      </div>
    <div class="details-item"> 
      <strong> Инвентарный номер: </strong> 
      <span>
      </span>
      </div>
    <div class="details-item"> 
      <strong> Описание: </strong> 
      <span>
      </span>
      </div>
    <div class="details-item"> 
      <strong> Цена: </strong> 
      <span>
      </span>
      </div>
    <div class="details-item"> 
      <strong> Категория: </strong> 
      <span>
      </span>
      </div>
  </div>
</div>
  </mat-card-content>
</mat-card>