mat-card {
    margin: 50px auto;
    width: 80%;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.products-list {
    height: fit-content;
    &.mat-button-toggle-vertical {
        width: 30%;
    }
}

.details {
    width: 60%;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.details-item {
    height: 2rem;
    display: flex;
    align-items: center;

    span {
        margin-left: 0.5rem;
    }
}
